@model IEnumerable<PostJob>
@foreach (PostJob job in Model)
{
    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="JobDetail" asp-route-id="@job.Id">
        <div class="item-content flex-grow">
            <h6 class="ellipsis font-weight-normal">
                @job.JobTitle
            </h6>
            @*<p class="font-weight-light small-text text-muted mb-0">
                @job.JobDescription
            </p>*@
        </div>
    </a>
}