@model AppUser
@{
    ViewData["Title"] = "UpdateProfile";
}

<main>
    <div class="header_01 header_inner">
        <div class="header_main">
            <div class="header_btm">
                <h2>Update My Profile</h2>
            </div>
        </div>
    </div>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
                <div class="sidebar">
                    <ul class="user_navigation">
                        <li>
                            <a asp-controller="Users" asp-action="Index">
                                <i class="fas fa-border-all"></i> Job Dashboard
                            </a>
                        </li>
                    </ul>
                    <h5>Organize and Manage</h5>
                    <ul class="user_navigation">
                        <li>
                            <a asp-controller="Users" asp-action="StaredJobs"><i class="fas fa-star"></i> View My Stared Jobs</a>
                        </li>
                    </ul>
                    <h5>Account</h5>
                    <ul class="user_navigation">
                        <li class="is-active">
                            <a asp-controller="Users" asp-action="UpdateProfile"><i class="fas fa-user"></i> Update My Profile</a>
                        </li>
                        <li>
                            <a href="edit-password.html"><i class="fas fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                </div>
                <div class=" job_main_right">
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div class="jm_headings">
                                <h5>Update My Profile</h5>
                            </div>
                            <div class="section-divider">
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form method="post" enctype="multipart/form-data">
                                <div class="big_form_group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="FullName"></label>
                                                <input asp-for="FullName" class="form-control" placeholder="Full Name">
                                                <span asp-validation-for="FullName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Email"></label>
                                                <input asp-for="Email" class="form-control" placeholder="Email">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Location"></label>
                                                <input asp-for="Location" class="form-control" placeholder="Location">
                                                <span asp-validation-for="Location" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label asp-for="Photo">Photo</label>
                                                    <input asp-for="Photo" class="form-control">
                                                    <span asp-validation-for="Photo" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.IsCompany == true)
                                        {
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>History Of Founder</label>
                                                    <input asp-for="Age" class="form-control" placeholder="Age">
                                                    <span asp-validation-for="Age" class="text-danger"></span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Age</label>
                                                    <input asp-for="Age" class="form-control" placeholder="Age">
                                                    <span asp-validation-for="Age" class="text-danger"></span>
                                                </div>
                                            </div>
                                        }
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="CompanyName"></label>
                                                <input asp-for="CompanyName" class="form-control" placeholder="Company Name">
                                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="big_form_group">
                                    <div class="row">
                                        @if (Model.IsCompany == false)
                                        {
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="ExpectedSalary"></label>
                                                    <input asp-for="ExpectedSalary" class="form-control" placeholder="Expected Salary">
                                                    <span asp-validation-for="ExpectedSalary" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="TotalExperience"></label>
                                                    <input asp-for="TotalExperience" class="form-control" placeholder="Total Experience">
                                                    <span asp-validation-for="TotalExperience" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="JobType"></label>
                                                    <input asp-for="JobType" class="form-control" placeholder="JobType">
                                                    <span asp-validation-for="JobType" class="text-danger"></span>
                                                </div>
                                            </div>
                                        }
                                      
                                    </div>
                                </div>
                                <div class="big_form_group">
                                    <div class="row">
                                        @if (Model.IsCompany == false)
                                        {
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Description"></label>
                                                    <textarea asp-for="Description" class="form-control" placeholder="JobSeekers Description"></textarea>
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="AboutCompanyDescription"></label>
                                                    <textarea asp-for="AboutCompanyDescription" class="form-control" placeholder="About Company Description"></textarea>
                                                    <span asp-validation-for="AboutCompanyDescription" class="text-danger"></span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-9 ">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#AboutCompanyDescription'))
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .catch(error => {
                console.error(error);
            });
    </script>
}