@model PostJob
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Job Advertisement</h4>
            <form class="form-sample" method="post">
                <p class="card-description">
                    Jobs info
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Job Title</label>
                            <div class="col-sm-9">
                                <input asp-for="JobTitle" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Company Name</label>
                            <div class="col-sm-9">
                                <input asp-for="CompanyName" class="form-control" placeholder="Company Name" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Location</label>
                            <div class="col-sm-9">
                                <input asp-for="Location" class="form-control" placeholder="Location" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Job Type</label>
                            <div class="col-sm-9">
                                <input asp-for="JobType" type="text" class="form-control" placeholder="Job Type" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Required Experience</label>
                            <div class="col-sm-9">
                                <input asp-for="RequiredExperience" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Salary</label>
                            <div class="col-sm-9">
                                <input asp-for="Salary" class="form-control" placeholder="$1500--$2000" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Skills</label>
                            <div class="col-sm-9">
                                <input asp-for="Skills" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Job Description</label>
                            <div class="col-sm-9">
                                <input asp-for="JobDescription" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Status</label>
                            <div class="col-sm-4">
                                <div class="form-check d-flex">
                                    <label class="form-check-label status">@(Model.IsActivated == true ? "Active" : "Deactive")</label>
                                    <input type="checkbox" class="form-check-input status-check ml-1" name="membershipRadios" id="membershipRadios1" value="" @(Model.IsActivated == true ? "checked" : "")>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".status-check").click(function () {
            console.log($(this).prev().text() == "Active" )
            if ($(this).prev().text() == "Active") {
                $(this).prev().text("Deactive")
            } else {
                $(this).prev().text("Active")
            }
        })
    </script>
}