@model Bio
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Job List</h4>
            <form class="form-sample" method="post" enctype="multipart/form-data">
                <p class="card-description">
                    Jobs info
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Logo:</label>
                            <div class="col-sm-9">
                                <input asp-for="Photo" class="form-control" placeholder="Input Title"/>
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mobile Number:</label>
                            <div class="col-sm-9">
                                <input asp-for="Mobile" class="form-control"/>
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mobile Number2:</label>
                            <div class="col-sm-9">
                                <input asp-for="Mobile2" class="form-control" placeholder="Description"/>
                                <span asp-validation-for="Mobile2" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Fax:</label>
                            <div class="col-sm-9">
                                <input asp-for="Fax" class="form-control" placeholder="DataCount"/>
                                <span asp-validation-for="Fax" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Adress:</label>
                            <div class="col-sm-9">
                                <input asp-for="Adress" class="form-control" placeholder="Description"/>
                                <span asp-validation-for="Adress" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Facebook:</label>
                            <div class="col-sm-9">
                                <input asp-for="Facebook" class="form-control" placeholder="DataCount"/>
                                <span asp-validation-for="Facebook" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Linkedin:</label>
                            <div class="col-sm-9">
                                <input asp-for="Linkedin" class="form-control" placeholder="Description"/>
                                <span asp-validation-for="Linkedin" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Youtube:</label>
                            <div class="col-sm-9">
                                <input asp-for="Youtube" class="form-control" placeholder="DataCount"/>
                                <span asp-validation-for="Youtube" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Twitter:</label>
                            <div class="col-sm-9">
                                <input asp-for="Twitter" class="form-control" placeholder="DataCount"/>
                                <span asp-validation-for="Twitter" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" name="name" value="Update" class="btn btn-primary"/>
                <a asp-controller="Bio" asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>