@model UserVM
@{
    ViewData["Title"] = "ChangeRole";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row m-3">
    <div class="col-6">
        <form method="post">
            <label class="" style="font-size:30px">Roles</label>
            @foreach (string item in Model.Roles)
            {
                if (item == Model.Role)
                {
                    <div class="form-group">
                        <input type="radio" checked value="@item" style="font-size:large" name="Role"> @item
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <input type="radio" value="@item" name="Role">@item
                    </div>
                }
            }
            <button type="submit" class="btn btn-dark btn-icon-text">Update<i class="mdi mdi-file-check btn-icon-append"></i></button>
        </form>
    </div>
</div>