@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}

<main>
    <div class="header_01 header_inner">
        <div class="header_main">
            <div class="header_btm">
                <h2>Blog</h2>
            </div>
        </div>
    </div>
    <div class="blog-listing">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @foreach (Blog blog in Model.OrderByDescending(x=>x.Id).Take(3))
                        {
                            <div class="col-md-12">
                                <div class="post_box">
                                    <img alt="" src="~/assets/images/Blog/@blog.Image" class="img-responsive">
                                    <div class="post_content">
                                        <h6>
                                            <a href="blog-single.html">@blog.Title</a>
                                        </h6>
                                        <p>@blog.FontDescription ...</p>
                                        <a class="btn btn-secondary btn-rounded" asp-action="Detail" asp-route-id="@blog.Id">Continue reading</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="blog_sidebar">
                        <div class="single-job-sidebar">
                            @*<div class="sjs_box">
                                <h3>Search blog</h3>
                                <form class="form-inline" action="http://veepixel.com/action_page.php">
                                    <input type="text" class="form-control" placeholder="Search" id="search-blog">

                                    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                                </form>

                            </div>*@
                            @*<div class="sjs_box">
                                <h3>Tags</h3>
                                <ul class="tags">
                                    <li><a href="#">business</a></li>
                                    <li><a href="#">company</a></li>
                                    <li><a href="#">earnings</a></li>
                                    <li><a href="#">employees</a></li>
                                    <li><a href="#">future</a></li>
                                    <li><a href="#">job</a></li>
                                    <li><a href="#">jobseek</a></li>
                                    <li><a href="#">market</a></li>
                                    <li><a href="#">resume</a></li>
                                    <li><a href="#">secrets</a></li>
                                    <li><a href="#">skills</a></li>
                                    <li><a href="#">strategy</a></li>
                                    <li><a href="#">suggestions</a></li>
                                    <li><a href="#">training</a></li>
                                    <li><a href="#">unemployment</a></li>
                                    <li><a href="#">work</a></li>
                                </ul>
                            </div>*@
                            <div class="sjs_box">
                                <h3>Recent Posts</h3>
                                <ul class="recentpost">
                                    @foreach (Blog blog1 in Model.Take(3).OrderByDescending(x=>x.Id))
                                    {
                                        <li><a href="blog-single.html">@blog1.Title</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
