@model IEnumerable<Blog>
@foreach (Blog blog in Model)
{
    <a class="dropdown-item" asp-area="" asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">
            @*<div class="item-thumbnail">
                <img src="~/assets/images/Blog/@blog.Image" alt="image" style="width:30px; height:30px" class="profile-pic">
            </div>*@
            <div class="item-content flex-grow">
                <li class="recentpost">
                    <a href="#">@blog.Title</a>
                </li>
            </div>
    </a>
}