@model IEnumerable<Blog>
@foreach (Blog blog in Model)
{
    <a class="dropdown-item" asp-area="" asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">
 
            <div class="item-content flex-grow">
                <ul class="recentpost">
                    <li>
                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">@blog.Title</a>
                    </li>
                    
                </ul>
            </div>
    </a>
}