@model IEnumerable<PostJob>
@foreach (PostJob job in Model)
{
    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="JobDetail" asp-route-id="@job.Id">
        <div class="row">
            <div class="item-content flex-grow">
                <h6 style=" margin-left: 13px;" class="ellipsis font-weight-normal">
                    @job.JobTitle
                </h6>
            </div>
        </div>
        
    </a>
}